*.class
*.diff
*.err
*.esproj
*.komodoproject
*.log
*.orig
*.pyc
*.pyo
*.rej
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.vi
*~
.CVS
.DS_Store
._*
.cache
.hg
.idea
.komodotools
.project
.sass-cache
.settings
.svn
.tmproj
Thumbs.db
img/jk
nbproject
