@charset "utf-8";

$width:100px;

#foo {
  width:$width;
  font:10px/12px;
}

#bar {
  width:$width / 10;
}

p {
  //fontとborder-radiusでスラッシュを使うのは正しい書き方なので割り算ではない。
  font: 10px/8px;
  border-radius:10px 20px/20px;

  $width: 1000px;
  width: $width/2;            // 変数に対しての割り算。 →　width: 500px;
  height: (500px/2);          //丸括弧の中の割り算。 →　height: 250px;
  margin-left: 5px + 8px/2px; //割り算と足し算 →　margin-left: 9px;
}

